/*  === ==  == AUTHOR: 01010011 01001000 01000001 01001101 01000101 01000101 01010010  == == ==  */
/* Reset  */
@import url(./reset.css);
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* FONT INCLUDES  */

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* Manrope */

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Manrope", sans-serif;
  src: url("../fonts/Manrope-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* BASE STYLES  */

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif !important;
  font-size: 16px;
  font-weight: 400;
}

/* scrollbar  */

/* scrollbar */
body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #bebebe;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #4286f5;
  border-radius: 8px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #366fcc;
}

.highlight {
  color: #4286f5 !important;
}

.highlight-yellow {
  color: #fbbc05 !important;
}

.align-center {
  align-items: center !important;
}

.section-margin {
  margin: 90px 0 !important;
}

.mt-2 {
  margin-top: 30px !important;
}

.negative-container-margin {
  margin-left: -40px;
  margin-right: 0;
}

.centered {
  text-align: center !important;
}

/* Typography  */

.h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 58px;
  line-height: 72px;
  color: #1a191e;
}

.h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #1a191e;
}

.h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #1a191e;
}

.h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #1a191e;
}

.p1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #494949;
}

.p2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #494949;
}

.p3 {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #494949;
}

/* Buttons  */

.custom-button {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  background: #4286f5;
  border-radius: 4px;
  padding: 15px 40px;
}

.end-icon {
  margin-left: 10px;
}

.custom-button:hover {
  background: #366fcc;
  transition: 0.3s all ease-in-out;
}

.custom-button.secondary {
  background: #fbbc05;
  color: #1b1b1b;
}

.custom-button.secondary:hover {
  background: #e6ab03;
  transition: 0.3s all ease-in-out;
}

.custom-button.tertiary {
  background: #ecf3fe;
  color: #4286f5;
}

.custom-button.tertiary:hover {
  background: #c6dbfc;
  transition: 0.3s all ease-in-out;
}

/* Header  */

.navbar-custom {
  padding: 35px 0;
}

.navbar-custom .nav-link {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  padding: 15px 26px !important;
}

.navbar-custom .nav-item.show {
  background: #f6f7f9;
  border-radius: 4px;
}

.navbar-custom .nav-item.show .nav-link {
  color: #4286f5;
}

.navbar-custom .dropdown-menu {
  background: #f6f7f9;
  border-radius: 4px;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-custom .dropdown-item {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  padding: 10px 24px;
}

.navbar-custom .dropdown-item:active {
  background: #f6f7f9;
  color: #4286f5;
}

.sign-in-dropdown {
  margin-right: 0px;
}

.subtitle-block {
  width: 460px;
}

/* Footer  */

.footer-block {
  background-image: url(../images/footerbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0;
}

.footer-list {
  list-style: none;
}

.footer-list li {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-list li:last-child {
  margin-bottom: 0;
}

.Footer-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-strip {
  background: #ffffff;
  padding: 10px;
}

.footer-strip-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-strip-flex p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.footer-strip-flex p a {
  font-weight: 600;
  color: #000000;
  text-decoration: none;
  margin-left: 2px;
}

.footer-text-with-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-right {
  margin-left: 10px;
}

.footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

/* Action Strip  */

.actionstrip-container {
  background: #1b1b1b;
  padding: 30px 0;
}

.actionstrip-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-strip-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

/* Interview Compare Card */

.ICC-card-container {
  background: #1b1b1b;
  border-radius: 4px;
  padding: 40px;
  margin: 40px 0;
  width: 100%;
}
.ICC-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
}

/* vertical-tab-container  */

.vertical-tab-container .nav-link {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #1b1b1b;
  text-align: left;

  height: 92px;
  display: flex;
  align-items: center;
}

.vertical-tab-container .nav-link span {
  width: 355px;
}

.vertical-tab-container .nav-link.active {
  background: #ecf3fe;
  border-radius: 4px;
  color: #4286f5;
  position: relative;
}

.vertical-tab-container .nav-link.active::after {
  content: url(../images/carat-right.svg);
  position: absolute;
  right: 40px;
  top: 33%;
}

/* home page  */

.section-title-block {
  width: 650px;
  margin: auto;
}

.client-strip-container {
  margin: 20px 0;
}

.margin-container {
  margin: 60px 0;
}

.success-story-container {
  background: #1b1b1b;
  padding: 60px 230px 100px 230px;
}

.success-story-container .h2 {
  color: #e6ab03;
  text-align: center;
}

.success-story-container .p1 {
  color: #ffffff;
  text-align: left;
}

.ss-client-name {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  margin-top: 20px;
}

.ss-client-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

/* slick carousal  */

.slick-dots li {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
}

.slick-dots li.slick-active {
  background: #fbbc05;
}

.slick-dots li button {
  padding: 0;
  width: 12px;
  height: 12px;
}

.slick-dots li button:before {
  display: none;
}

.slider-content {
  padding: 20px;
  color: #ffffff;
}

.slick-next {
  color: #fff;
  height: 64px !important;
  width: 64px !important;
  right: -180px;
  transition: 0.3s all ease-in-out;
}

.slick-prev {
  color: #fff;
  height: 64px !important;
  width: 64px !important;
  left: -180px;
  transition: 0.3s all ease-in-out;
}

.slick-next:hover,
.slick-prev:hover {
  color: #fbbc05;
  transition: 0.3s all ease-in-out;
}

.slick-disabled {
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}

.slick-disabled:hover {
  color: rgba(255, 255, 255, 0.5);
}

.tab-content-container {
  text-align: left;
  padding: 0 20px;
}

.tab-content-container .p2 {
  margin-top: 10px;
}
