/*  === ==  == AUTHOR: 01010011 01001000 01000001 01001101 01000101 01000101 01010010  == == ==  */
/* Reset  */
@import url(./reset.css);
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* FONT INCLUDES  */

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* Manrope */

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Manrope", sans-serif;
  src: url("../fonts/Manrope-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* BASE STYLES  */

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif !important;
  font-size: 16px;
  font-weight: 400;
}

/* scrollbar  */

/* scrollbar */
body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #bebebe;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #5a189a;
  border-radius: 8px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #340e59;
}

.highlight {
  color: #5a189a !important;
}

.highlight-yellow {
  color: #fbbc05 !important;
}

.align-center {
  align-items: center !important;
}

.section-margin {
  margin: 90px 0;
}

.mt-2 {
  margin-top: 30px !important;
}

.negative-container-margin {
  margin-left: -40px;
  margin-right: 0;
}

.centered {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.greyed {
  background: #f6f7f9 !important;
  padding: 60px 0;
}

.greyed-inside {
  background: #f6f7f9 !important;
  padding: 80px 100px;
}

/* Typography  */

.h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 58px;
  line-height: 72px;
  color: #1a191e;
}

.h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #1a191e;
}

.h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #1a191e;
}

.h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #1a191e;
}

.p1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #494949;
}

.p2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #494949;
}

.p3 {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #494949;
}

/* Buttons  */

.custom-button {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  background: #5a189a;
  border-radius: 4px;
  padding: 15px 40px;
}

.end-icon {
  margin-left: 10px;
}

.custom-button:hover {
  background: #340e59;
  transition: 0.3s all ease-in-out;
}

.custom-button.secondary {
  background: #fbbc05;
  color: #1b1b1b;
}

.custom-button.secondary:hover {
  background: #e6ab03;
  transition: 0.3s all ease-in-out;
}

.custom-button.tertiary {
  background: #ecf3fe;
  color: #5a189a;
}

.custom-button.tertiary:hover {
  background: #c6dbfc;
  transition: 0.3s all ease-in-out;
}

/* Header  */

.header-logo {
  cursor: pointer;
}

.navbar-custom {
  padding: 35px 0;
}

.navbar-custom a {
  text-decoration: none;
  color: inherit;
}

.navbar-custom .nav-link {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  padding: 15px 26px !important;
  transition: 0.3s all ease-in-out;
}

.navbar-custom .nav-link:hover {
  background: #ecf3fe;
  transition: 0.3s all ease-in-out;
}

.navbar-custom .nav-link.active {
  color: #5a189a;
}

.navbar-custom .nav-link.inactive {
  color: #000000;
}

.navbar-custom .dropdown-item:hover {
  background: #c6dbfc;
  transition: 0.3s all ease-in-out;
}

.navbar-custom .dropdown-item.activelink {
  color: #5a189a;
}

.dropdown.activelink .dropdown-toggle {
  color: #5a189a;
}

.navbar-custom .nav-item.show {
  background: #f6f7f9;
  border-radius: 4px;
}

.navbar-custom .nav-item.show .nav-link {
  color: #5a189a;
}

.navbar-custom .dropdown-menu {
  background: #f6f7f9;
  border-radius: 4px;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-custom .dropdown-item {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  padding: 0;
}

.navbar-custom .dropdown-item a {
  display: block;
  padding: 10px 24px !important;
}

.navbar-custom .dropdown-item:active {
  background: #f6f7f9;
  color: #5a189a;
}

.sign-in-dropdown {
  margin-right: 0px;
}

.subtitle-block {
  width: 460px;
  margin-top: 10px !important;
}

.subtitle-block.w-600 {
  width: 600px;
}

/* Footer  */

.footer-block {
  background-image: url(../images/footerbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0;
}

.footer-list {
  list-style: none;
}

.footer-list li {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-list li:last-child {
  margin-bottom: 0;
}

.Footer-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-strip {
  background-image: url(../images/footerbg.png);
  padding: 10px;
}

.footer-strip-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-strip-flex p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}

.footer-strip-flex p a {
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  margin-left: 2px;
}

.footer-text-with-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-text-with-logo a {
  margin-left: 5px !important;
  display: inline-block;
  transition: 0.3s all ease-in-out;
}

.footer-text-with-logo a:hover {
  color: #5a189a;
  transition: 0.3s all ease-in-out;
}

.logo-right {
  margin-left: 10px;
}

.footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.fl-item a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s all ease-in-out;
}

.fl-item a:hover {
  transition: 0.3s all ease-in-out;
  color: #1a191e;
}

/* Action Strip  */

.actionstrip-container {
  background: #1b1b1b;
  padding: 30px 0;
}

.actionstrip-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-strip-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

/* Interview Compare Card */

.ICC-card-container {
  background: #1b1b1b;
  border-radius: 4px;
  padding: 40px;
  margin: 40px 0;
  width: 100%;
}
.ICC-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
}

/* vertical-tab-container  */

.vertical-tab-container .nav-link {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #1b1b1b;
  text-align: left;

  height: 92px;
  display: flex;
  align-items: center;
}

.vertical-tab-container .nav-link:hover {
  background: #ecf3fe;
  transition: 0.3s all ease-in-out;
}

.vertical-tab-container .nav-link span {
  width: 355px;
}

.vertical-tab-container .nav-link.active {
  background: #ecf3fe;
  border-radius: 4px;
  color: #5a189a;
  position: relative;
}

.vertical-tab-container .nav-link.active::after {
  content: url(../images/carat-right.svg);
  position: absolute;
  right: 40px;
  top: 33%;
}

/* home page  */

.section-title-block {
  width: 650px;
  margin: auto;
}

.client-strip-container {
  margin: 20px 0;
}

.margin-container {
  margin: 60px 0;
}

.success-story-container {
  background: #1b1b1b;
  padding: 60px 230px 100px 230px;
}

.success-story-container.light {
  background: #ffffff;
  color: #1b1b1b !important;
}

.success-story-container .h2 {
  color: #e6ab03;
  text-align: center;
}

.success-story-container.light .h2 {
  color: #1b1b1b;
}

.success-story-container .p1 {
  color: #ffffff;
  text-align: left;
}

.success-story-container.light .p1 {
  color: #1b1b1b;
}

.ss-client-name {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  margin-top: 20px;
}

.success-story-container.light .ss-client-name {
  color: #1b1b1b;
}

.ss-client-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.success-story-container.light .ss-client-position {
  color: #1b1b1b;
}

/* slick carousal  */

.slick-dots li {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
}

.success-story-container.light .slick-dots li {
  background-color: #494949;
}

.slick-dots li.slick-active {
  background: #fbbc05;
}

.success-story-container.light .slick-dots li.slick-active {
  background: #fbbc05;
}

.slick-dots li button {
  padding: 0;
  width: 12px;
  height: 12px;
}

.slick-dots li button:before {
  display: none;
}

.slider-content {
  padding: 20px;
  color: #ffffff;
}

.slick-next {
  color: #fff;
  height: 64px !important;
  width: 64px !important;
  right: -190px;
  transition: 0.3s all ease-in-out;
}

.slick-prev {
  color: #fff;
  height: 64px !important;
  width: 64px !important;
  left: -190px;
  transition: 0.3s all ease-in-out;
}

.slick-prev svg,
.slick-next svg {
  height: 64px !important;
  width: 64px !important;
}

.slick-next:hover,
.slick-prev:hover {
  opacity: 0.7;
  transition: 0.3s all ease-in-out;
}

.slick-next::before,
.slick-prev::before {
  display: none;
}

.slick-disabled {
  color: rgba(255, 255, 255, 0.3);
  opacity: 0.3;
  cursor: not-allowed;
}

.slick-disabled:hover {
  opacity: 0.3;
}

.tab-content-container {
  text-align: left;
  padding: 0 20px;
}

.tab-content-container .p2 {
  margin-top: 10px;
}

/* card  */

.card-content {
  width: 260px;
  margin: 16px auto;
}

.card-content.full-width {
  width: 100%;
  text-align: left;
}

.pricing-card {
  background: #f6f7f9;
  border-radius: 4px;
  padding: 30px;
  text-align: left;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.pricing-card.xl {
  height: 640px;
  padding: 50px 30px 50px 30px;
}

.plan-name {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #5a189a;
  margin-bottom: 20px;
}

.price-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 58px;
  line-height: 72px;
  color: #1b1b1b;
  margin-bottom: 20px;
}

.price-text span {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #494949;
}

.pc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #1b1b1b;
  max-width: 250px;
}

.pc-text.grey {
  font-weight: 400;
  color: #494949;
}

.no-of-interview-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.no-of-interview-flex .pc-text {
  flex-basis: 70%;
}

.interview-count {
  padding: 10px 18px;
  background: #ffffff;
  border: 1px solid #5a189a;
  border-radius: 4px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #5a189a;
}

.price-after {
  margin-top: 80px;
}

.price-after p {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #494949;
}

.price-after h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #1b1b1b;
}

.price-after h4 span {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #494949;
}

.explore-banner-container {
  background: #1b1b1b;
  padding: 80px;
  text-align: center;
}

.explore-banner-container .custom-button.secondary {
  margin-left: 20px;
}

.explore-banner-container .h2 {
  color: #ffffff;
}

.explore-banner-container .p1 {
  color: #ffffff;
}

.candidate-banner {
  text-align: center;
}

.candidate-banner .h1 {
  width: 750px;
  margin: auto;
}

.candidate-banner .subtitle-block {
  margin: auto;
}

/* .candidate-banner .custom-button {
  z-index: 99;
} */

.candidate-banner-image {
  margin-top: 40px;
}

.hr-slider-container {
  padding: 60px 130px 100px 130px;
}

.hr-slider-container .slick-next {
  right: -80px;
}

.hr-slider-container .slick-prev {
  left: -80px;
}

.gx-16-minus {
  --bs-gutter-x: -16rem;
}

.checked-list {
  list-style: none;
  margin-top: 20px;
}

.checked-list li {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #494949;
}

.checked-list li::before {
  content: url(../images/li-check.svg);
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.checked-list li span {
  display: block;
  margin-left: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #494949;
}

.banner-action-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.banner-action-flex .custom-button {
  margin-right: 20px;
}

.privacy-section .p1 {
  margin-bottom: 20px;
}

/* Input  */

.form-input-box {
  margin-bottom: 30px;
}

.form-control {
  background: #ffffff;
  border: 1px solid rgba(27, 27, 27, 0.2);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #494949;
  padding: 14px 20px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #5a189a;
}

.form-control::placeholder {
  opacity: 0.4;
  font-weight: 400;
}

.for-emp {
  margin-top: 60px;
}

.card-container {
  margin-top: 20px;
}

/* ============== ======= ==== RESPONSIVE STYLES INCLUDE  ============== ======= ==== */

@import url(./responsive.css);

/* ============== ======= ==== RESPONSIVE STYLES INCLUDE  ============== ======= ==== */
